.intro-catalog {
  padding: 32px 20px 0 20px;
  margin: 0 -20px;

  text-align: center;

  border-bottom: 1px solid $color-grey;

  @media (min-width: 768px) {
    padding: 63px 0 49px 0;

    border-bottom: none;
  }

  @media (min-width: 1200px) {
    padding: 100px 0 51px 0;

    background: $color-white;
    margin-top: -1px;
  }
}

.intro-catalog__title {
  margin-bottom: 28px;

  font-family: $basic-font;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $color-black;

  @media (min-width: 768px) {
    margin-bottom: 34px;

    font-size: 30px;
  }
}

.intro-catalog__text {
  margin-bottom: 28px;

  font-family: $basic-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: $color-black;
}

.intro-catalog__text br {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
