.promo {
  display: flex;
  justify-content: center;

  margin: 0 -20px;

  background-image: url("../img/icon/intro-triangle-mobie.svg"),
    url("../img/back-mobile@1x.jpg");
  background-color: $color-brown-background;

  padding-top: 89px;
  background-size: 100%, cover;
  background-position: bottom, 0 -1px;
  background-repeat: no-repeat;
  min-height: 389px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/icon/intro-triangle-mobie.svg"),
      url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    background-image: url("../img/icon/promo-triangle-tablet.svg"),
      url("../img/back-desktop@1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 518px;
    padding-top: 78px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/icon/promo-triangle-tablet.svg"),
        url("../img/back-desktop@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    background-image: url("../img/icon/promo-triangle-desk.svg"),
      url("../img/back-desktop@1x.jpg");
    background-position: bottom;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/icon/promo-triangle-desk.svg"),
        url("../img/back-desktop@2x.jpg");
    }
  }
}

.promo__img {
  width: 282px;
  height: 214px;

  @media (min-width: 768px) {
    width: 461px;
    height: 350px;
  }
}
