.promo-catalog {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  min-height: 158px;

  padding-top: 51px;
  margin: 0 -20px;

  background-image: url("../img/icon/intro-triangle-mobie.svg"),
    url("../img/back-catalog-mobile@1x.jpg");
  background-color: $color-brown-background;
  background-size: 100%, cover;
  background-position: bottom, 0 -56px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/icon/intro-triangle-mobie.svg"),
      url("../img/back-catalog-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    background-image: url("../img/icon/promo-triangle-tablet.svg"),
      url("../img/back-tablet-catalog@1x.jpg");

    background-position: bottom, 0 -56px;
    background-repeat: no-repeat;
    padding-top: 95px;
    min-height: 290px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/icon/promo-triangle-tablet.svg"),
        url("../img/back-tablet-catalog@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    background-image: url("../img/icon/promo-triangle-desk.svg"),
      url("../img/back-desktop@1x.jpg");
    background-position: bottom, 0 -217px;
    background-repeat: no-repeat;

    padding-top: 101px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/icon/promo-triangle-desk.svg"),
        url("../img/back-desktop@2x.jpg");
    }
  }
}

.promo-catalog__img {
  @media (min-width: 768px) {
    margin-bottom: 22px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 116px;
  }
}
