$color-text: #333333;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #eeeeee;
$color-blue: #81b3d2;
$color-brown: #766357;
$color-rating: #666666;
$color-bg-input: #f2f2f2;
$color-body: #888888;
$color-bg-body: #e7e5e5;
$color-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
$color-border: #d6d6d6;
$color-transparent: transparent;

$color-input-bg-hover: #e5e5e5;
$color-button-hover: #669ec0;
$color-button-active: #5496bd;
$color-radio-button-active: #d5d5d5;

$basic-font: "PT Sans", "Arial", sans-serif;
